@import 'mixins.css.scss';


@font-face /* IE */
{
	font-family: 'StrangeloveText';
	src: url('/fonts/strangelove-text.eot');
}

@font-face /* everyone else */
{
	font-family: 'StrangeloveText';
	src: url(//:) format("No-IE-404"), url('/fonts/strangelove-text.otf') format("opentype");
}

body {
  background: #EEEEEE;
  position: relative;
}

.wrapper {
  margin: 0 auto;
  max-width: 1200px;
}

.header {
  height: 50px;
  padding: 8px 0 0 15px;

  h1 {
    display: inline-block;
    width: 700px;
  }

  .sign_in, .signed_in {
    float: right;
    font-size: 10px;
    text-align: right;
    vertical-align: top;
  }
}

.footer {
  padding: 30px 0 30px 0;
  font-size: 10px;
  text-align: center;
  @include bg_gradient(top, #000000, #666666);
  color: white;
  position: absolute;
  width: 100%;
  bottom: 0;
}

.content {
  min-height: 100px;
  padding: 15px 15px 100px;
}

h1, h2, h3 {
  font-family: "StrangeloveText";
  margin: 0;
}

h1 {
  font-size: 50px
}

h2 {
  font-size: 40px
}

h3 {
  font-size: 30px
}

.photo {
  background: white;
  display: inline-block;
  margin: 10px 5px;
  max-width: 100px;
  max-height: 100px;
  @include shadow(5px, 5px, 10px, 0px, gray);
  vertical-align: top;

  img {
    display: block;
  }
}

.tags ul {
  display: inline-block;
  li {
    display: inline-block;
    background: green;
    @include rounded(10px);
    @include bg_gradient(top, #00CC00, #009900);
    padding: 2px 6px 2px 12px;
    cursor: pointer;
    color: black;
  }
}

.add_tag {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid gray;
  @include bg_gradient(top, #efefef, #999999);
  color: black;
  text-align: center;
  &:hover {
    text-decoration: none;
  }
  &:visited {
    color: black;
  }
}

.remove_tag {
  margin-left: 5px;
  border-left: 1px solid black;
  padding-left: 5px;
  color: black;
  &:hover {
    text-decoration: none;
    font-weight: bold;
  }
  &:visited {
    color: black;
  }
}
