@mixin rounded($radius: 0.5em) {
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  border-radius: $radius;
}

@mixin shadow($xOffset, $yOffset, $blur, $spread, $color) {
  -moz-box-shadow: $xOffset $yOffset $blur $spread $color;
  -webkit-box-shadow: $xOffset $yOffset $blur $spread $color;
  box-shadow: $xOffset $yOffset $blur $spread $color;
}

@mixin bg_gradient($orientation, $start, $stop) {
  background-color: $stop;
  background-image: -webkit-linear-gradient($orientation, $start, $stop);
  background-image: -moz-linear-gradient($orientation, $start, $stop);
  background-image: -ms-linear-gradient($orientation, $start, $stop);
  background-image: -o-linear-gradient($orientation, $start, $stop);
}
